{% extends 'main/layout.html' %}

{% block title %}
    Добавить категорию
{% endblock %}

{% block content %}

    <div class="row justify-content-center mt-4">
        <div class="col-6 mx-auto d-block card">

            <p class="mt-2">Заполните поля</p>

            <form method="post">
                {% csrf_token %}
                {{ form.name }}
                <span>{{ error }}</span>
                <button type="submit" class="btn btn-success mb-2 mt-2">Добавить</button>

            </form>
        </div>
    </div>


    {% if category %}
        <div class="list-group col-6 mx-auto mt-3">
            {% for i in category %}
                <div class="d-flex mb-2">
                    <a href="#" class="list-group-item list-group-item-action me-2">{{ i.name }}</a>
                    <a href="{% url 'category-update' i.id %}" type="button" class="btn btn-warning me-2">Изменить</a>
                    <a href="{% url 'category-delete' i.id %}" type="button" class="btn btn-danger">Удалить</a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Добавьте категорию</p>
    {% endif %}




{% endblock %}


