{% extends 'main/layout.html' %}

{% block title %}
    Добавить датчик
{% endblock %}

{% block content %}

    <div class="row justify-content-center mt-4">
        <div class="col-6 mx-auto d-block card">

            <p class="mt-2">Заполните поля</p>

            <form method="post">
                {% csrf_token %}
                {{ form.position }}
                {{ form.description }}
                {{ form.units }}
                {{ form.cat }}
                <span>{{ error }}</span>
                <button type="submit" class="btn btn-success mb-2 mt-2">Добавить</button>

            </form>
        </div>
    </div>



{% endblock %}


